.modern-header {
  background: transparent !important;
  padding: 0 14px;
  height: 200px;
  line-height: normal;
  border-bottom: none !important;
  align-self: center;
  text-align: center;
  /* z-index: 1; */
}

.welcome-title {
  color: #fff !important;
  font-weight: 600 !important;
  margin-bottom: 8px !important;
  font-size: 28px !important;
}

.header-buttons {
  margin-top: 16px;
}

.signup-button {
  background: linear-gradient(90deg, #5612b5, #9c62ee) !important;
  border: none !important;
  font-weight: 500;
  cursor: pointer;
}

.signup-button:hover {
  background: linear-gradient(90deg, #4a0f9e, #8a50e0) !important;
  transform: translateY(-1px);
}